@import "../styles/tokens.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: var(--radius-md);
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground antialiased;
}
